<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Incentive Program Dashboard</title>
		<meta charset="utf-8">
		
		
		<style>
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #FF8C00;
			}

			li {
				float: left;
			}

			li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			/* Change the link color to #111 (black) on hover */
			li a:hover {
				background-color: #111;
			}
		</style>
	
		<div id="style">
			<ul>
				<li><a href="/">Deals Dashboard</a></li>
				<li><a href="Programs">Programs Dashboard</a></li>
				<li><a href="RefreshPrograms">Refresh Program Data</a></li>
			</ul>
		</div>
	</head>

	<body>
		
	
		<iframe src="http://localhost:5601/app/kibana#/dashboard/7e5506d0-f368-11e8-ab85-8de93bef85e1?embed=true&_g=()" style="position:absolute; top:50px; left:0px; bottom:0px; right:0px; width:100%; height:93%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
	
	</body>
</html>